<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Journals</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    
<!--     <link rel="stylesheet" type="text/css" href="style.css">  -->
    <link rel="stylesheet" type="text/css" href="../style1.css"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
           integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b1490666c5.js" crossorigin="anonymous"></script>
  </head>
<body class="container">
<% if (role!="Admin") { %>
      <%- include('../navbar') %>
       <% } else { %>
      <%- include('../navbaradmin') %>
      <% } %>
  <div class="jumbotron">
     <h1>
       <br/>
      Journals
    </h1>
  </div>
  
  <% if (journals) { %>
   <br>   

  <div class="box">

     <table class="table table-hover">
      <tbody><tr><th>Journal Code</th><th>Journal Name</th><th>Editor</th><th>First Published</th><th>Total Copies</th><th>Available Copies</th><th>Edit</th><th>Delete</th></tr>
        <% journals.forEach(function(journals){  %>
        <tr>
          <td><%= journals.Journal_Code %></td>
          <td><%= journals.Journal_Name %></td>
          <td><%= journals.Editor %></td>
          <td><%= journals.First_Published.toDateString() %></td>
          <td><%= journals.Copies %></td>
          <td><%= journals.Available_copies %></td>
          <td><a class="button" href="/journals/<%=journals.Journal_Code %>/editjournal"><i class="fas fa-edit fa-lg"></i></a></td>
          <td><a class="button" href="/journals/<%= journals.Journal_Code %>/deletejournal"><i class="far fa-trash-alt fa-lg"></i></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <p>There are <%= journals.length %> journals in the database.</p>
  <% } else { %>
    <p>There are no journals in the database.</p>
    <% } %>
  </div> 
  
  
</body>
</html> 